@media only screen and (max-width: 600px){

h1{
        font-family: 'Outfit', sans-serif !important;
        text-align: center;
        color: #2da633 !important;
        margin-top: 3% !important;
        font-size: 2em !important;
        font-weight: bold !important;

}

h3{
	text-align: center !important;
	font-family: 'Outfit', sans-serif !important;
	justify-content: center !important;
  
	margin-right: 10vw !important;
	margin-left: 10vw !important;

	margin-top: 5vh !important;
	color: #117d0a !important;
  font-size:16px !important;
}

p {
    font-family: 'Outfit', sans-serif !important;
    font-size: 1.1em !important;
    line-height: 1.3 !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    color: #606061 !important;
}

.about{
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

#downloadBtn:hover,
#downloadBtn:focus{
     cursor: pointer;
   }

.active {
        text-shadow: 2px 2px 5px #9dff2e !important; 
    }
   
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #e6e4e2;
   color: white;
   text-align: center;
}

.footer p {
	color: black;
}

#message{
       background-color: #ff7270;
       position: absolute;
       width: 80%;
       left: 10%;
       top: 15%;
       z-index: 999;
}

}